.vantagens-bg {
  background: var(--cor-12);
  --padding: 120px;
}

.vantagens {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 40px 80px;
  margin-top: 60px;
}

.vantagens h3,
img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens-bg {
    --padding: 60px;
  }
  .vantagens ul {
    margin-top: 40px;
    gap: 20px;
  }
}
